<!-- <section class="login-dark">
    <form (ngSubmit)="loginUser()" id="login-user" #f="ngForm">
      <h2 class="visually-hidden">Login Form</h2>
      <div class="alert alert-danger" role="alert" *ngIf="displayAlert">
        Wrong username or password
      </div>
      <div class="illustration"><i class="icon ion-ios-key-outline"></i></div>
      <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" ngModel
          required #password='ngModel'></div>
      <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" [disabled]="!f.valid">Log In</button>
      </div><a class="forgot" routerLink='/register'>Don't have an account? Register</a>
    </form>
  </section> -->