
  <div class="row m-5">
    <div class="col-md-4 mb-2">
      <div class="card">
        <div class="card-body">
          <!-- create a blog form -->
          <form (ngSubmit)="addNewBlog()" id="add-blog">
            <div class="form-group mb-2">
              <label for="blog">Title</label>
              <input type="text" class="form-control" id="blog" ngModel name="title" placeholder="" required
                #title="ngModel">
              <p class="text-danger error-block" *ngIf="!title.valid && title.touched"><small>Fill in the title!</small>
              </p>
            </div>
            <div class="mb-2">
              <label for="description">content</label>
              <textarea name="text" id="text" cols="30" rows="5" class="form-control" ngModel required
                #text="ngModel"></textarea>
              <p class="text-danger error-block" *ngIf="!text.valid && text.touched"><small>Author</small></p>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="">Add blog</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <table class="table table-hover table-responsive">
            <thead>
              <tr class="text-capitalize">
                <th scope="col">id</th>
                <th scope="col">Title</th>
                <th scope="col">content</th>
                <th scope="col">author</th>
                <th scope="col"></th>
                <!-- <th scope="col"></th> -->
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let blog of allblogs">
                <th scope="row">
                  <span class="">{{blog.id}}</span>
                </th>
                <td>{{ blog.title }}</td>
                <td>{{ blog.content }}</td>
                <td>{{ blog.author }}</td>
                <td>
                  <!-- <button class="btn btn-danger" (click)="deleteblog(blog.id)">Delete</button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>